@font-face {
    font-family: "Roboto";
    scr: url("../font/Roboto-Regular.ttf");
    src: local("Roboto"),
        url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}